.comment {
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 18px;
  display: flex;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  min-width: 622px;
  &__score {
    max-height: 84px;
    margin-right: 20px;
    min-width: 33px;
    background-color: #f5f6fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    span {
        width: 100%;
        display: block;
        text-align: center;
        padding: 6px 0;
    }
    &-value {
      font-weight: 700;
      color: hsl(238, 40%, 52%);
    }
    &-plus, &-minus {
      cursor: pointer;
    }
  }
  &__user {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    div, &-image {
      margin-right: 13px;
    }
    &-image {
      width: 27px;
    }
    &-name {
      font-weight: 500;
    }
    &-current {
      background-color: hsl(238, 40%, 52%);
      color: white;
      border-radius: 6px;
      padding: 3px 8px;
    }
  }
  &__created-at {
    color: hsl(211, 10%, 45%);
  }
  &__content {
    line-height: 20px;
    color: hsl(211, 10%, 45%);
    word-break: break-word;
  }
  &__reply-username {
    font-weight: 700;
    color: hsl(238, 40%, 52%);
  }
  &__buttons {
    position: absolute;
    top: 20px;
    right: 10px;
    display: flex;
    div {
      margin: 0 10px;
    }
  }
  &__reply-button, &__edit-button {
    color: #5357b6;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.5;
    }
    img {
      margin-right: 5px;
    }
  }

  &__delete-button {
    color: #ed6368;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.5;
    }
    img {
      margin-right: 5px;
    }
  }
}

.comment__score-buttons-mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  .comment__score-mobile {
    min-height: 40px;
    min-width: 100px;
    background-color: #f5f6fb;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    align-items: center;
    span {
      width: 100%;
      display: block;
      text-align: center;
      padding: 11px 0;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-value {
      font-weight: 700;
      color: hsl(238, 40%, 52%);
    }
    &-plus, &-minus {
      cursor: pointer;
    }
  }
  .comment__buttons-mobile {
    max-height: 84px;
    min-width: 33px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    div {
      margin: 0 5px;
    }
    span {
      width: 100%;
      display: block;
      text-align: center;
      padding: 6px 0;
    }
    &-value {
      font-weight: 700;
      color: hsl(238, 40%, 52%);
    }
    &-plus, &-minus {
      cursor: pointer;
    }
  }
}

.comment-replies {
  display: flex;
  &__margin {
    border-right: 2px solid hsl(223, 19%, 93%);
    padding-left: 33px;
    margin-right: 33px;
    margin-bottom: 20px;
  }
}

.comment__form {
  width: 600px;
  height: 74px;
  border: 1px solid hsl(223, 19%, 93%);
  border-radius: 6px;
  font-family: "Rubik", sans-serif;
  padding: 10px;
  color: hsl(211, 10%, 45%);
  font-size: 14px;
  &--edit-reply {
    width: 540px;
  }
}

.comment__button {
  cursor: pointer;
  width: 104px;
  height: 48px;
  background-color: hsl(238, 40%, 52%);
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.3s;
  &:hover {
    background-color: hsl(238deg 40% 52% / 50%);
  }
}
@media screen and (max-width: 840px) {
  .comment {
    min-width: 285px;
    display: block;
    &-replies__margin {
      padding-left: 0;
      margin-right: 15px;
    }
    &__score, &__buttons {
      display: none;
    }
    .comment__score-buttons-mobile {
      display: flex;
    }
    .comment__form {
      &--edit-reply {
        width: 264px
      }
    }
  }
}
